*.html encoding=utf-8 eol=lf text
*.ejs encoding=utf-8 eol=lf text
*.css encoding=utf-8 eol=lf text
*.scss encoding=utf-8 eol=lf text
*.js encoding=utf-8 eol=lf text
*.cjs encoding=utf-8 eol=lf text
*.mjs encoding=utf-8 eol=lf text
*.jsx encoding=utf-8 eol=lf text
*.ts encoding=utf-8 eol=lf text
*.tsx encoding=utf-8 eol=lf text
