<ul class="banner-list">
	<li><a href="https://www2.myjcom.jp/tv/?t=sports&cid=s_skya_tvtop&utm_campaign=s_skya_tvtop&utm_medium=referral&utm_source=spl" target="_blank"><img src="../../img/special/tigers-bestgame2023/banner_1.png" alt="スポーツ専門チャンネルで放送する今日・明日の番組" width="275" height="80"></a></li>
	<li><a href="https://www.jcom.co.jp/promo/spls/?mode=baseball&spl=tigers&cid=s_skya_baseball&utm_source=spl&utm_medium=referral&utm_campaign=skya_baseball" target="_blank"><img src="../../img/special/tigers-bestgame2023/banner_2.png" alt="阪神戦を見るならJcomで決まり！" width="274" height="80"></a></li>
	<li><a href="https://www.jcom.co.jp/promo/spls/?mode=watch&spl=skya&cid=s_skya_watch&utm_source=spl&utm_medium=referral&utm_campaign=skya_watch" target="_blank"><img src="../../img/special/tigers-bestgame2023/banner_3.png" alt="J:COMでスカイAを見る！" width="274" height="80"></a></li>
	<li><a href="https://promo.skyperfectv.co.jp/guide/?skya=howto" target="_blank"><img src="../../img/special/tigers-bestgame2023/banner_4.png" alt="スカパー！でスカイAを見る！" width="274" height="80"></a></li>
	<li><a href="https://www.hikaritv.net/ch_lp/751/?utm_source=hktpartner&utm_medium=other&utm_campaign=hkt_202304_acst-skyA" target="_blank"><img src="../../img/special/tigers-bestgame2023/banner_5.png" alt="ひかりTV" width="274" height="80"></a></li>
	<li><a href="https://auhikari.tv/?utm_source=skyA&utm_medium=banner&utm_campaign=LP" target="_blank"><img src="../../img/special/tigers-bestgame2023/banner_6.png" alt="auひかりテレビサービス WEBでお申し込み 最大2ヶ月0円" width="275" height="80"></a></li>
</ul>
