<section class="program road_to_draft" id="program1">
	<div class="program-title">
		<p class="program-title-category">column</p>

		<h2 class="program-title-text">ドラフトまでの足跡</h2>

		<p class="program-title-sub">Road to Draft 2023</p>
	</div>

	<p class="program-title-small">スカイＡのドラフト中継でお馴染みスポーツライター松倉雄太が今年も全国各地を飛び回ります。<br>ドラフト会議中継までの全国取材記録。</p>

	<article class="writer-profile">
		<div class="program-content">
			<div class="program-content-visual"><img alt="プロ野球ドラフト後夜祭！2022" src="../../img/special/draft2023/column_writer1.jpg"></div>

			<div class="program-content-detail">
				<h3 class="writer-name">松倉雄太<span>Yuta MATSUKURA</span></h3>
			</div>
		</div>

		<p class="program-content-caption-text">
			1980年大阪府出身。2004年からスポーツライターとなり、スポーツナビ、高校野球ドットコムなどのWEBサイト、『報知高校野球』などの野球雑誌に寄稿している。ＡＢＣテレビ『速報甲子園への道』、『熱闘甲子園』、スカイA『明治神宮大会中継』『ドラフト中継』などでブレーン・リサーチとしても活動。2016年からAbemaTVで「U-18野球ワールドカップ」「U-18アジア野球選手権」で中継解説を務める。
		</p>
	</article>

	<div class="draft-map">
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kVZEnn_8Iq_J6rF7MiDcPQmx9PSo7lI&ehbc=2E312F%22&ll=32.289334874324396%2C133.7710892&z=6" loading="lazy" title="ドラフトハンター松倉の足跡"></iframe>
	</div>

	<ul class="article-column">
		<li class="article-column-list">
			<time class="article-column-date" datetime="2022-08-06">2023年8月15日</time>
			<p class="article-column-text">
				<a href="#dummy">
					【兵庫】 球数制限で投げ切れず 神戸第一がタイブレーク敗戦。 エース日浦 「球数制限に邪魔されて」 「悔しい」 ・・・
				</a>
			</p>
			<p class="article-column-link"><a href="#dummy">続きを読む</a></p>
		</li>
		<li class="article-column-list">
			<time class="article-column-date" datetime="2022-08-06">2023年8月15日</time>
			<p class="article-column-text">
				<a href="#dummy">
					【神奈川】 初戦で敗退した智弁和歌山を皮切りに、 全国各地で強豪校が次々に敗退。 なぜ、 次々に強豪校が敗れているのか・・・
				</a>
			</p>
			<p class="article-column-link"><a href="#dummy">続きを読む</a></p>
		</li>
		<li class="article-column-list">
			<time class="article-column-date" datetime="2022-08-06">2023年8月15日</time>
			<p class="article-column-text">
				<a href="#dummy">
					【兵庫】 球数制限で投げ切れず 神戸第一がタイブレーク敗戦。 エース日浦 「球数制限に邪魔されて」 「悔しい」 ・・・
				</a>
			</p>
			<p class="article-column-link"><a href="#dummy">続きを読む</a></p>
		</li>
		<li class="article-column-list">
			<time class="article-column-date" datetime="2022-08-06">2023年8月15日</time>
			<p class="article-column-text">
				<a href="#dummy">
					【神奈川】 初戦で敗退した智弁和歌山を皮切りに、 全国各地で強豪校が次々に敗退。 なぜ、 次々に強豪校が敗れているのか・・・
				</a>
			</p>
			<p class="article-column-link"><a href="#dummy">続きを読む</a></p>
		</li>
	</ul>
</section>
