<section class="player">
	<h2 class="player-title">2023年ドラフト、注目の選手たち</h2>

	<ul class="player-navi">
		<li class="player-navi__item"><a class="player-navi__link" href="#section-player-01"><span class="player-navi__state">高校生</span></a></li>
		<li class="player-navi__item"><a class="player-navi__link" href="#section-player-02"><span class="player-navi__state">大学生</span></a></li>
		<li class="player-navi__item"><a class="player-navi__link" href="#section-player-03"><span class="player-navi__state">社会人</span></a></li>
	</ul>

	<div class="player-cards">
      <article class="player-card" id="section-player-01">
        <figure class="plaayer-card-photo">
          <img alt="佐々木麟太郎" class="player-card-image" height="220" src="../../img/special/draft2023/photo_sasaki.jpg">
          <figcaption class="player-card-copy">Photo：野球太郎</figcaption>
        </figure>
        <h3 class="player-card-name content-title">佐々木麟太郎<span>（ササキ・リンタロウ）</span></h3>
        <p class="player-card-text content-text">花巻東<br>内野手/ 183cm 117kg　右投左打</p>
        <p class="player-card-text content-text">岩手県出身。小学1年生から野球を始め、中学生ではエンゼルス・大谷翔平の父が監督を務める金ヶ崎シニアでプレーする。花巻東高では1年春からベンチ入りをし、その年の明治神宮野球大会ではベスト4入りを果たす。<br>高校通算本塁打140本達成（2023年8月8日時点）</p>
      </article>
      <article class="player-card">
        <figure class="plaayer-card-photo">
          <img alt="前田悠伍" class="player-card-image" height="220" src="../../img/special/draft2023/photo_maeda.jpg">
          <figcaption class="player-card-copy">Photo：野球太郎</figcaption>
        </figure>
        <h3 class="player-card-name content-title">前田悠伍<span>（マエダ・ユウゴ）</span></h3>
        <p class="player-card-text content-text">大阪桐蔭<br>投手/ 180cm 80kg　左投左打</p>
        <p class="player-card-text content-text">滋賀県出身。小学6年時にオリックスjr.でプレーをし、中学生ではカル・リプケンU12日本代表に選ばれ世界一に輝く。
          ストレート、カーブ、スライダー、チェンジアップ、ツーシームはどれも精度が高く、抜群の制球力を誇る。</p>
      </article>
      
      <article class="player-card" id="section-player-02">
        <figure class="plaayer-card-photo">
          <img alt="細野晴希" class="player-card-image" height="220" src="../../img/special/draft2023/photo_hosono.jpg">
           <figcaption class="player-card-copy">Photo：野球太郎</figcaption>
        </figure>
        <h3 class="player-card-name content-title">細野晴希<span>（ホソノ・ハルキ）</span></h3>
        <p class="player-card-text content-text">東洋大<br>投手/ 180cm 85kg　左投左打</p>
        <p class="player-card-text content-text">東京都出身。最速155キロの左腕。小学2年生から交友ビクトリーズで野球を始め東海大菅生中では軟式野球部に所属。
          東亜学園では1年夏からベンチ入りも甲子園出場はない。ストレートの速さと変化球の質が魅力の千葉ロッテマリーンズ佐々木朗希世代。</p>
      </article>
      <article class="player-card">
        <figure class="plaayer-card-photo">
          <img alt="常廣羽也斗" class="player-card-image" height="220" src="../../img/special/draft2023/photo_tsunehiro.jpg">
          <figcaption class="player-card-copy">Photo：野球太郎</figcaption>
        </figure>
        <h3 class="player-card-name content-title">常廣羽也斗<span>（ツネヒロ・ハヤト）</span></h3>
        <p class="player-card-text content-text">青山学院大<br>投手/ 180cm 73kg　右投右打</p>
        <p class="player-card-text content-text">大分舞鶴高では甲子園出場もなく大分大会4強が最高成績。青山学院大へは一般学生と同じく成績で決まる指定校推薦で入学し野球部へ入部。2年生の春からリーグ戦に出場し4年生の今年は全日本大学野球選手権に優勝。高校3年間で128キロから142キロに球速を上げ、大学では142キロから153キロと11キロ上げる努力型右腕。</p>
      </article>
      
      <article class="player-card" id="section-player-03">
        <figure class="plaayer-card-photo">
          <img alt="度会隆輝" class="player-card-image" height="220" src="../../img/special/draft2023/photo_watarai.jpg">
          <figcaption class="player-card-copy">Photo：野球太郎</figcaption>
        </figure>
        <h3 class="player-card-name content-title">度会隆輝<span>（ワタライ・リュウキ）</span></h3>
        <p class="player-card-text content-text">ENEOS<br>外野手／183cm 83kg　右投左打</p>
        <p class="player-card-text content-text">父親の影響で野球を始める。父は度会博文氏（元ヤクルトスワローズ）。大学3年生の夏の都市対抗大会では野手では史上初となる３冠（橋戸賞、若獅子賞、打撃賞の同時受賞）に輝く。高校3年生では指名漏れをしたが今年こそはとリベンジに燃える。</p>
      </article>
      <article class="player-card" id="section-player-03">
        <figure class="plaayer-card-photo">
          <img alt="竹田祐" class="player-card-image" height="220" src="../../img/special/draft2023/photo_takeda.jpg">
          <figcaption class="player-card-copy">Photo：野球太郎</figcaption>
        </figure>
        <h3 class="player-card-name content-title">竹田祐<span>（タケダ・ユウ）</span></h3>
        <p class="player-card-text content-text">三菱重工West<br>投手／185cm 90kg　右投右打</p>
        <p class="player-card-text content-text">履正社高では2年秋からエースとして府大会、近畿大会、神宮大会でチームを優勝に導く。明大４年時にプロ志望届を出したが、指名漏れ。三菱重工Westでは1年目から公式戦に出場。185cm 90kgの恵まれた体格の最速151キロ右腕。</p>
      </article>
	</div>
</section>