<section class="program road_to_draft" id="program2">
	<div class="program-title">
		<p class="program-title-category">column</p>

		<h2 class="program-title-text">ドラフトまでの軌跡</h2>

		<p class="program-title-sub">Road to Draft 2023</p>
	</div>

	<p class="program-title-small">アマチュア野球を中心に年間約300試合を取材、全国各地を飛び回るスポーツライター西尾典文が今秋開催されるドラフト会議までの軌跡を綴ります。</p>

	<article class="writer-profile">
		<div class="program-content">
			<div class="program-content-visual"><img alt="西尾 典文" src="../../img/special/draft2023/column_writer2.jpg"></div>

			<div class="program-content-detail">
				<h3 class="writer-name">西尾 典文<span>Norifumi NISHIO</span></h3>
			</div>
		</div>

		<p class="program-content-caption-text">
			1979年、愛知県生まれ。大学まで選手としてプレーした後、筑波大学大学院で野球の動作解析について研究し、在学中から技術解析などを テーマに野球専門誌に寄稿を開始。2017年からはスカイＡのドラフト会議で解説を務め、2021年2022年と仮想ドラフト会議にも出演。<br>
			アマチュア野球を中心に年間約300試合を取材する熱血スポーツライター。</p>
	</article>

	<ol class="program-column">
		<li class="program-column-list">
			<div class="program-column-visual">
				<a href="/news/321/">
					<span class="program-column-number">#01</span>
					<img alt="" src="/img/special/draft2023/draft_01.jpg" width="360" height="140">
				</a>
				<span class="program-column-visual-caption">© 野球太郎</span>
			</div>

			<div class="program-column-detail">
				<dl class="program-column-title">
					<dt>【ドラフトへの軌跡2023】第1回<br>
						木村優人（霞ヶ浦）　3年　投手</dt>
					<dd>2023年8月15日</dd>
				</dl>

				<p class="program-column-text">
					「今年は（甲子園に出場している選手の中で）投手の候補が少ない」。夏の甲子園期間中にスカウト陣からよく聞かれた言葉で...
				</p>

				<p class="program-column-link"><a href="/news/321/">続きを読む</a></p>
			</div>
		</li>
	</ol>
</section>
