<!-- ヘッダー -->
<header class="l-header">
  <h1 class="l-header-title main-title">
    <a href="/" class="logo"
      ><img src="https://sky-a.asahi.co.jp/img/common/icon_skya.svg" alt="CSスポーツチャンネル スカイＡ"
    /></a>
  </h1>
  <a href="#menu-open" class="c-button-menu menu"
    ><img src="https://sky-a.asahi.co.jp/img/common/icon_menu.svg" alt="Menu"
  /></a>
  <nav class="c-nav-pc">
    <a href="/howto/">
      <div class="box">スカイAを見るには</div>
    </a>
    <div class="has-menu current">
      <a href="/category/">
        <div class="box menu-cursor">番組を探す</div>
      </a>
      <section class="big-menu category-menu">
        <ul class="clearfix">
          <li><a href="/category/" class="large-btn red-btn">番組カテゴリを見る</a></li>
          <li class="center">
            <ul class="category-bigmenu thumb-1col">
              <li>
                <div class="thumb-text cate">
                  <a href="/category/tigers/" class="clearfix">
                    <div class="img">
                      <img
                        src="https://sky-a.asahi.co.jp/img/common/mega-cate1.jpg?20230131"
                        alt="阪神タイガース"
                        width="80"
                      />
                      <div class="cpy">©阪神タイガース</div>
                    </div>
                    <p class="title">阪神タイガース</p>
                    <p class="text">2023年シーズンも阪神主催公式戦を数多く放送！キャンプの生中継や阪神応援番組も。</p>
                  </a>
                </div>
              </li>
              <li>
                <div class="thumb-text cate">
                  <a href="/category/golf/" class="clearfix">
                    <div class="img">
                      <img
                        src="https://sky-a.asahi.co.jp/img/common/mega-cate2.jpg?20230220"
                        alt="ゴルフトーナメント"
                        width="80"
                      />
                      <div class="cpy">Photo：Getty Images</div>
                    </div>
                    <p class="title">ゴルフトーナメント</p>
                    <p class="text">
                      国内男女ゴルフトーナメントを年間50大会以上オンエア。『スカイＡ全力ゴルフ宣言』では長時間の中継で臨場感を味わえます。
                    </p>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="right">
            <ul class="category-links clearfix">
              <li><a href="https://sky-a.asahi.co.jp/category/tigers/">阪神タイガース</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/golf/">ゴルフトーナメント</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/golf-lesson/">ゴルフレッスン</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/baseball/">野球</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/tabletennis/">卓球</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/hyougei/">表現・芸術スポーツ</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/bowling/">ボウリング</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/sportsclimbing/">スポーツクライミング</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/outdoor/">アウトドア</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/recommended-sports/">いちおしスポーツ</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/variety/">バラエティ</a></li>
              <li><a href="https://sky-a.asahi.co.jp/category/other/">その他</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
    <div class="has-menu">
      <a href="/timetable/"><span class="box menu-cursor">週間番組表</span></a>
      <section class="big-menu">
        <ul class="clearfix">
          <li>
            <a href="/timetable/" class="large-btn red-btn">週間番組表を見る</a>
          </li>
          <li>
            <p class="big-menu-title">ON AIR</p>
            <ul class="thumb-1col">
              <li>
                <div class="thumb-text">
                  <a href="/category/golf/5002006/" class="clearfix">
                    <div class="time">19:00～22:30</div>
                    <div class="img">
                      <img
                        src="https://sky-a.asahi.co.jp/prgimg/5002006_1.jpg"
                        alt="2023 フンドーキンレディース 最終日"
                        width="80"
                        onerror="this.src='https://sky-a.asahi.co.jp/img/program/no_prg.png?20160322';"
                      />
                      <div class="cpy">Photo：Getty Images</div>
                    </div>
                    <p class="text">2023 フンドーキンレディース 最終日</p>
                  </a>
                </div>
              </li>
              <li>
                <div class="thumb-text">
                  <a href="/category/golf-lesson/2001145/" class="clearfix">
                    <div class="time">22:30～22:45</div>
                    <div class="img">
                      <img
                        src="https://sky-a.asahi.co.jp/prgimg/2001145_1.JPG"
                        alt="ゴルフ女子の可愛いミカタ。『リサとサリーとuttecoちゃん』#4"
                        width="80"
                        onerror="this.src='https://sky-a.asahi.co.jp/img/program/no_prg.png?20160322';"
                      />
                    </div>
                    <p class="text">ゴルフ女子の可愛いミカタ。『リサとサリーとuttecoちゃん』#4</p>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <p class="big-menu-title">注目の番組</p>
            <ul class="thumb-1col">
              <li>
                <div class="thumb-text">
                  <a href="/category/golf/5001909/" class="clearfix">
                    <div class="img">
                      <img src="https://sky-a.asahi.co.jp/siteimg/g_pickup/20230510180027_1.jpg" width="80" alt="" />
                      <div class="cpy">Photo：Getty Images</div>
                    </div>
                    <p class="text">頂点に立つのは！？</p>
                  </a>
                </div>
              </li>
              <li>
                <div class="thumb-text">
                  <a href="/category/golf/5002006/" class="clearfix">
                    <div class="img">
                      <img src="https://sky-a.asahi.co.jp/siteimg/g_pickup/20230510180027_2.jpg" width="80" alt="" />
                      <div class="cpy">Photo：Getty Images</div>
                    </div>
                    <p class="text">全大会全力中継！</p>
                  </a>
                </div>
              </li>
              <li>
                <div class="thumb-text">
                  <a href="/category/tigers/1000010/" class="clearfix">
                    <div class="img">
                      <img src="https://sky-a.asahi.co.jp/siteimg/g_pickup/20230403130042_2.jpg" width="80" alt="" />
                      <div class="cpy">©阪神タイガース</div>
                    </div>
                    <p class="text">試合終了まで放送</p>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
    <a href="/form/inquiry/">
      <div class="box">ご意見箱</div>
    </a>
    <div>
      <div class="box g-search">
        <img src="https://sky-a.asahi.co.jp/img/common/cmn_grass.png" alt="" />
        <form method="post" action="https://sky-a.asahi.co.jp/search/" class="g-search-form">
          <div class="g-search-form-layer">
            <input type="text" name="word" class="g-search-input" placeholder="番組名で検索" />
            <a href="#" class="g-search-btn small-btn gray-btn">検索</a>
          </div>
        </form>
        <div class="g-search-text">検索</div>
      </div>
    </div>
  </nav>
  <div class="c-nav-top">
    <a href="/howto/" class="c-nav-top-item">
      <img src="https://sky-a.asahi.co.jp/img/common/icon_howto.png" alt="" />
      <span class="c-nav-top-text">視聴方法</span>
    </a>
    <a href="/timetable/" class="c-nav-top-item">
      <img src="https://sky-a.asahi.co.jp/img/common/icon_broadcast.png" alt="" />
      <span class="c-nav-top-text">番組表</span>
    </a>
    <a href="/form/inquiry/" class="c-nav-top-item">
      <img src="https://sky-a.asahi.co.jp/img/common/icon_require.png" alt="" />
      <span class="c-nav-top-text">お問合せ</span>
    </a>
  </div>
</header>

<!-- /ヘッダー -->
