<!-- SPメニュー -->
<nav class="c-nav-sp" id="g-menu">
  <div class="bg">
    <ul>
      <li class="search clearfix">
        <div class="box g-search">
          <form method="post" action="https://sky-a.asahi.co.jp/search/" class="g-search-form">
            <div class="g-search-form-layer">
              <input type="text" name="word" class="g-search-input" placeholder="番組名で検索する" />
            </div>
          </form>
        </div>
      </li>
      <li><a href="/howto/">スカイＡを見るには</a></li>
      <li class="has-child">
        <a href="/category/">番組を探す</a>
        <ul class="child">
          <li><a href="/category/tigers/">阪神タイガース</a></li>
          <li><a href="/category/golf/">ゴルフトーナメント</a></li>
          <li><a href="/category/golf-lesson/">ゴルフレッスン</a></li>
          <li><a href="/category/baseball/">野球</a></li>
          <li><a href="/category/tabletennis/">卓球</a></li>
          <li><a href="/category/hyougei/">表現・芸術スポーツ</a></li>
          <li><a href="/category/bowling/">ボウリング</a></li>
          <li><a href="/category/sportsclimbing/">スポーツクライミング</a></li>
          <li><a href="/category/outdoor/">アウトドア</a></li>
          <li><a href="/category/recommended-sports/">いちおしスポーツ</a></li>
          <li><a href="/category/variety/">バラエティ</a></li>
          <li><a href="/category/other/">その他</a></li>
        </ul>
      </li>
      <li class="has-child">
        <a href="/timetable/">番組表</a>
        <ul class="child">
          <li><a href="/timetable/">番組表</a></li>
          <li>
            <a
              href="https://sky-a.asahi.co.jp/download_ad/202306.pdf"
              onclick="window.open('https://sky-a.asahi.co.jp/download_ad/202306.pdf','','scrollbars=yes,resizable=yes') ; return false ;"
              >6月の番組表（PDF）</a
            >
          </li>
          <li>
            <a
              href="https://sky-a.asahi.co.jp/download_ad/202305.pdf"
              onclick="window.open('https://sky-a.asahi.co.jp/download_ad/202305.pdf','','scrollbars=yes,resizable=yes') ; return false ;"
              >5月の番組表（PDF）</a
            >
          </li>
          <li>
            <a
              href="https://sky-a.asahi.co.jp/download_ad/202304.pdf"
              onclick="window.open('https://sky-a.asahi.co.jp/download_ad/202304.pdf','','scrollbars=yes,resizable=yes') ; return false ;"
              >4月の番組表（PDF）</a
            >
          </li>
        </ul>
      </li>
      <li><a href="/form/inquiry/">ご意見箱</a></li>
      <li><a href="/news/">お知らせ</a></li>
      <li><a href="/form/golfinquiry/">ゴルフシリーズQ&amp;A</a></li>
      <li><a href="/global/">会社案内</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
      <li><a href="/special/">特設サイト</a></li>
    </ul>
    <div class="g-menu__sns">
      <a href="https://twitter.com/skya_cs" target="_blank" class="g-menu__sns__link"
        ><img src="https://sky-a.asahi.co.jp/img/top/menu_tw.png" alt="twitter"
      /></a>
      <a href="https://www.facebook.com/skyasports" target="_blank" class="g-menu__sns__link"
        ><img src="https://sky-a.asahi.co.jp/img/top/menu_fb.png" alt="Facebook"
      /></a>
      <a
        href="https://www.youtube.com/user/skyasportschannel"
        target="_blank"
        class="g-menu__sns__link g-menu__sns__link--yt"
        ><img src="https://sky-a.asahi.co.jp/img/top/menu_yt.png" alt="Youtube"
      /></a>
    </div>
  </div>
</nav>

<!-- /SPメニュー -->
