<section class="program links">
	<div class="link">
		<p><a class="top-present" href="https://www.youtube.com/channel/UCSzd2tlFW_DvVPp44JmaUrg" target="_blank">» プロ野球 ドラフトちゃんねる</a></p>

		<p class="link-content-logo"><a href="https://www.youtube.com/channel/UCSzd2tlFW_DvVPp44JmaUrg" target="_blank"><img alt="プロ野球　ドラフトちゃんねる" src="https://yt3.ggpht.com/JwujToYiupQuTRlWkZsfAG_kzqhCUJjLQaG0OlZ_plzmc5m96SErTM8Yww9_TT9MFfttI8S4Wg=s88-c-k-c0x00ffffff-no-rj"></a>
		</p>

		<p class="program-content-text">
			高校野球・大学野球・社会人野球を始めとする『アマチュア野球』コンテンツを展開する「スカイA」と「ABCスポーツ」が総力を上げお届けするドラフト専門公式YouTubeチャンネル</p>
	</div>

	<div class="link">
		<p><a class="top-present" href="https://twitter.com/skya_baseball" target="_blank">» X スカイA野球部</a>
		</p>

		<p class="link-content-logo"><a href="https://twitter.com/skya_baseball" target="_blank"><img alt="X スカイA野球部" src="/img/special/draft2023/logo_twitter.png"></a></p>

		<p class="program-content-text">CSスポーツチャンネル「スカイA」が阪神タイガース、プロ野球、ドラフト会議、フレッシュオールスターゲーム、夏の高校野球など野球情報をお届け
		</p>
	</div>
</section>
