<div class="social">
  <div class="social-head">[ このページをシェアする ]</div>
  <div class="social-button clearfix">
    <div class="fb">
      <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://sky-a.asahi.co.jp/special/draft2023/'), 'facebook', 'width=626,height=436'); return false;"
        ><img class="Span" src="https://sky-a.asahi.co.jp/img/sp/common/fb.png" height="55" width="55" alt=""
      /></a>
    </div>
    <div class="tw">
      <a href="#" onclick="window.open('http://twitter.com/share?url='+encodeURIComponent('http://sky-a.asahi.co.jp/special/draft2023/')+'&amp;text='+encodeURIComponent(document.title), 'twitter', 'width=610,height=292'); return false;"
        ><img class="Span" src="https://sky-a.asahi.co.jp/img/sp/common/tw.png" height="55" width="55" alt=""
      /></a>
    </div>
    <div class="line">
      <a href="#" onclick="location.href='http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%0Ahttp://sky-a.asahi.co.jp/special/draft2023/';return false;"><img class="Span" src="https://sky-a.asahi.co.jp/img/sp/common/line.png" height="55" width="55" alt="" /></a>
    </div>
  </div>
</div>

<div class="banner-howto">
  <a href="https://sky-a.asahi.co.jp/howto/" class="cmn-btn cursor-right cmn-btn-logo bg-red"><div>視聴方法</div></a>
</div>
